<div class="container">
<h1>Your selected Restaurant</h1>
<%= @restaurant.name %>
<%= @restaurant.address %>
<div>
<p>
<%= link_to "See Reviews", restaurant_review_path(:id) %>
</p>
</div>
<%= link_to "â¬…ï¸ Back to directory", restaurants_path %>
</div>
